.intro-img {
    width: 100%;
}

.asd {
    width: 50%;
    display: block;
    margin: auto;
}

@media screen and (min-width: 800px) {
    .gridbox {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 1rem;
    }

    .gridbox h2 {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .gridbox span {
        grid-row: 2/4;
        grid-column: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gridbox img {
        height: 200px;
    }

    .gridbox p:first-of-type {
        grid-row: 2/3;
        grid-column: 1/2;
        margin-bottom: 0px;
    }

    .gridbox p:nth-of-type(2) {
        grid-row: 3/4;
        grid-column: 1/2;
        margin-top: 0px;
    }

    .asd-container {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: max-content auto;
        border-bottom: 1px solid gray;
        margin: 2rem 0rem;
    }

    .asd-container h3 {
        grid-column: 1/2;
    }

    .asd-container span {
        grid-column: 2/3;
        grid-row: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .asd {
        height: 170px;
        object-fit: cover;
    }

    .asd-container p {
        grid-row: 2/3;
        grid-column: 1/2;
    }
}