.service {
    width: 300px; 
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 4rem auto;
}

.service img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.service-description h3 {
    color: #0056b3;
    font-size: 1.7em;
    margin: 15px 0 10px;
    font-weight: bold;
}

.service-description p {
    color: #534f4f;
    font-size: 0.95em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.learn-more {
    background-color: darkgreen;
    color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    transition: background-color 0.2s, color 0.2s;
    
    width: 150px;
    height: 45px;
}

.learn-more:hover {
    background-color: lightgreen;
    color: black;
}

h2 {
    padding-left: 1rem;
    font-size: 1.2em;
}

h1 {
    color: #003366;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

@media screen and (min-width: 800px) {
    .services {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .services img {
        height: 200px;
        object-fit: contain;
    }

    .services p {
        height: 50px;
    }
}